        
.option {
    display: flex;
    padding: 1.4em;
    border: 1px solid #ebedf3;
    border-radius: .42rem;
}

.option .option-control {
    width: 2.7rem;
    padding-top: .1rem;
}

span.radio {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin: 0;
}
.radio > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.radio > span {
    background-color: #ebedf3;
    border: 1px solid transparent;
}
.radio > span {
    height: 18px;
    width: 18px;
}
.radio > span {
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
}
.option .option-label {
    width: 100%;
}
.option .option-label .option-head {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.option .option-label .option-head .option-focus {
    font-size: 1.1rem;
    font-weight: 600;
    /* color: #l; */
}
.option .option-label .option-body {
    display: block;
    padding-top: .7rem;
    font-size: .9rem;
    color: #b5b5c3;
}
.option .option-label .option-body img {
    max-width: 100px;
    height: 100px;
    display: block;
}
.option.selected{
    border: 5px solid #e30c26;
}

.verification, .balanceholder {
    box-shadow: 0px 10px 10px 20px rgba(176, 184, 214, 0.09), 10px 10px 15px -5px #b0b8d6;
    padding: 17px;
    border-radius: 10px;
}

/* Color Modifications */
.default-sidebar .app-sidebar {
    background-color: #d10a22 !important;
  }
  .app-sidebar__logo {
    background-color: #a0081a;
    border-bottom: 1px #d10a22 !important;
    border-right: 1px #d10a22 !important;
  }
  .mb-1 .font-weight-bold {
    color: white !important;
  }
  .default-sidebar .app-sidebar__user {
    color: white !important;
  }
  
  .side-menu__label {
    color: white !important;
  }
  
  .header {
    background: #d10a22 !important;
  }
  .svg-icon,
  .header-icon,
  .header-icon2 {
    color: white;
    fill: white;
  }
  .default-sidebar .app-sidebar__user {
    border-bottom: 1px #d10a22 !important;
    border-right: 1px #d10a22 !important;
  }
  .default-sidebar .slide a {
    color: white !important;
  }
  .default-sidebar .slide-menu a.active,
  .default-sidebar .slide-menu a:hover {
    color: black !important;
  }
  .default-sidebar .slide-menu a.active,
  .default-sidebar .slide-menu a:hover {
    color: black !important;
  }
  .avatar {
    background: #e6ecf3 no-repeat center/cover;
  }
  .default-sidebar .app-sidebar {
    border-right: #d10a22 !important;
  }
  .default-sidebar .side-menu__label:hover {
    color: black !important;
  }
  .side-menu__item:hover .side-menu__label,
  .side-menu__item:hover .side-menu__icon,
  .side-menu__item:hover .angle {
    color: black !important;
  }
  .side-menu > li > a > i {
    margin-left: -18px !important;
  }
  .app-sidebar__user .user-pic {
    width: 80px;
    height: 80px;
    background-color: #e6ecf3;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  